body{
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.barra{
    height: 50px;
    background-color: black;
    
}

.logotip{
width: 20px;
height: 5px;
margin: 10px 20px;
}

li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    float: left;
    padding: 5px;
    
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
   
}

